*.iml
*.log
*.hprof
*.aab
*.apk
.DS_Store

# Gradle
.gradle/
/build/

# IDE
.idea/
*.iws
*.ipr
out/

# Kotlin
.kotlin/

# Android
/captures
.externalNativeBuild
.cxx
local.properties

# Misc
*.swp
*.swo
*~
